In [ ]:
a = int(input("enter the value of a:"))
b = int(input("enter the value of b:"))
c = int(input("enter the value of c:"))
if a>b and a>c:
  print("a is greater thhan the b&c")
elif b>a and b>c:
  print("b is greater than c&a")
else:
  print("c is greater than b & a")

enter the value of a:12
enter the value of b:56
enter the value of c:28
b is greater than c&a

In [ ]:
def cel_to_fah(cel):
  fah = (cel*1.8)+32
  return fah

In [ ]:
cel_to_fah(45)

113.0

In [ ]:
def swap_items(a,b):
  a,b = b,a
  return a, b

In [ ]:
a = 20
b = 30
swap_items(a,b)

(30, 20)

In [19]:
## python code to add digit in the numbers
num = int(input("enter the value of the num:"))
a = num%10  ##( 12345%10 , a = 5 , num = 1234)
num = num//10 ## (1234)
b = num%10 #(b = 4)
num = num//10 #(123)
c = num%10 ## (12, c = 3)
num = num//10 ##(12)
d = num%10 ## (d = 2)
e = num//10


digit = a+b+c+d+e
print(digit)

enter the value of the num:12345
15

In [20]:
digit = int(input('enter the value of digit:'))
print(digit)
a = digit%10
digit = digit//10
b = digit%10
digit = digit//10
c = digit%10
digit = digit//10
d = digit%10
e = digit//10

rev = a*10000+b*1000+c*100+d*10+e
print("reverse the numbers:" , rev)

enter the value of digit:56472
56472
reverse the numbers: 27465

In [21]:
num = int(input("enter the value:"))
if num%2==0:
  print("num is even")
else:
  print("the num is odd")

enter the value:3
the num is odd

In [23]:
def odd_or_even(num):
  if num%2==0:
    return "num is even"
  else:
    return "num is odd"

In [24]:
odd_or_even(3)

'num is odd'

In [25]:
year = int(input("enter the value of year:"))
if year%4==0 and year%100!=0:
  print("this is a leap year")
elif year%100== 0 and year%400==0:
  print("this year is a leap year")
else:
  print("this is not a leap year")

enter the value of year:2024
this is a leap year

In [27]:
x = 35
x0 = 30
y = 23
y0 = 45

def euclidian_distance(x , y ,x0 , y0):
  euc_dis = ((x-x0)**2 +(y-y0)**2)**0.5
  return euc_dis

In [28]:
euclidian_distance(35 , 23 , 30 , 45)

22.561028345356956

In [29]:
def inspect_traingle(a_angle, b_angle , c_angle):
  if a_angle==60 and b_angle==60 and c_angle==60:
    print("it form a equilateral traingle")
  elif a_angle+b_angle+c_angle==180:
    print("it form a equilateral traingle")
  else:
    print("not form a traingle")

In [30]:
inspect_traingle(60 , 60 , 60)

it form a equilateral traingle

In [35]:
def loss_or_profit(cp , sp):
  if cp>=sp:
    print("it leads to make loss")
  elif cp==sp:
    print("it is at break even point")
  else:
    print("it leads to profit")

In [36]:
cp = int(input("enter the value of the cp:"))
sp = int(input("enter the value of 8sp:"))
loss_or_profit(cp , sp)

enter the value of the cp:45
enter the value of 8sp:76
it leads to profit

In [37]:
def cal_SI(p,r,t):
  si = (p*r*t)/100
  return si

In [38]:
p = int(input("enter the value of p"))
r = int(input("enter the value of r"))
t = int(input("enter the value of t"))
cal_SI(p,r,t)

enter the value of p4500
enter the value of r12
enter the value of t3

1620.0

In [39]:
def cal_vol_cylinder(r ,h):
  pi = 3.14
  vol_cylinder = 2*pi*r**2*h
  return vol_cylinder

In [40]:
r = float(input("enter the value of radiuus:"))
h = float(input("enter thevalue of height:"))
cal_vol_cylinder(r,h)

enter the value of radiuus:3.8
enter thevalue of height:5.8

525.9625599999999

In [42]:
num = int(input("enter the value of num:"))
if num%3==0 and num%6==0:
  print("num is divisible by 3 and 6")
else:
  print("num is not divisible by 3 and 6")

enter the value of num:43
num is not divisible by 3 and 6

In [47]:
def divisibility(num):
  if num%3==0 and num%6!=0:
    return "num is only divisible by 3 not 6"
  elif num%3==0 and num%6==0:
    return "num is only divisible by 3 or 6"
  else:
    return "num is not divisible by 3 and 6"

In [48]:
num = int(input("enter the value of num:"))
divisibility(num)

enter the value of num:9

'num is only divisible by 3 not 6'

In [51]:
def square_of_num(a):
  sqr = a**2
  return sqr

  num = int(input("enter the value of a:"))
square_of_num(20)

400

In [64]:

user_input = int(input("enter the value of num:"))
num = user_input
a = num%10 ## (num = 153 , a = 3)
num = num//10 ## num = 15
b = num%10 ## b = 5
c = num//10 ## c = 1

if (a**3)+(b**3)+(c**3)==user_input:
  print("this is a amrstrong numbers:")
else:
  print("this  is not a armstrong numbers")

enter the value of num:153
this is a amrstrong numbers: